/* RESET GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BASE */
html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f8fafc;
}
